body {
    background-color: #121212;
}

.nav-bar .navbar-nav .nav-item a:hover, .root-list-item:hover{
    opacity: 1;

}

.root {
    height: 100vh;
    position:relative;
    display:grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: auto 1fr;
    grid-template-areas: 
            "navbar main-view main-view"
            "player player player";
}

.nav-bar {
    grid-area: navbar;
    background-color: rgba(0, 0, 0, .8);
    width: 230px;
    min-height: 0;
    flex:1;
}

.top-bar{
    grid-area: main-view;
    height: 60px;
    z-index: 2px;
}

.main{
    grid-area: main-view;
    flex:1;
    height:100%;
    min-height: 0;
    overflow-y: scroll;
}

.player{
    grid-area: player;
    background-color: #181818;
    height:90px;
    
}

.nav-bar-header .logo{
    width: 131px;
    max-height: 40px;

}

.nav-bar .navbar-nav{
    padding: 0 8px;

}

.nav-bar .navbar-nav .nav-item a{
    border-radius: 4px;
    padding: 0 16px;
    height: 40px;
    color: #fff;
    opacity: .6;
    font-weight: 500;
}
.nav-bar .navbar-nav .nav-item.active a{
    background-color: #282828;
    opacity: 1;
}

.nav-bar .navbar-nav .nav-item i{
    font-size: 22px;
    margin-right: 16px;
}

.root-list{
    min-height: 0;
    margin-bottom: 70px;
}

.root-list .root-list-header h2{
    font-size: 11px;
    color: #b3b3b3;
    text-transform: uppercase;
    letter-spacing: .16em;
    margin-left: 24px;
    margin-bottom: 12px;
}

.root-list-item{
    padding: 5px 24px 5px 24px;
    color: #fff;
    opacity: .6;
    font-weight: 500;
    cursor: pointer;
}

.root-list-icon{
    width: 24px;
    height: 24px;
    background-color: #fff;
    margin-right: 16px;
}

.root-list-icon.heart{
    background: linear-gradient(135deg,#450af5,#c4efd9);
}

.root-list-info{
    z-index: 1;
    overflow: hidden;
}

.root-list-info .root-list-links{
    margin: 32px 0;
    padding: 0 24px;
    text-align: start;
}

.root-list-info .root-list-links .root-bottom-links{
    flex-wrap: wrap;
}

.root-list-info .root-list-links .root-bottom-links .root-coteiner-link{
    margin-right: 13px;
    margin-bottom: 10px;
}

.root-list-info .root-list-links .root-bottom-links .root-coteiner-link a{
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    margin-block: 0px;
    font-size: 0.6875rem;
    font-weight: 400;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    color: #fff;
    opacity: .6;
    text-decoration: none;
}


.root-list-info .root-list-links .root-info-lg{
    margin-bottom: 32px;

}

.root-list-info .root-list-links .root-info-lg .root-info-bt{
    overflow-wrap: anywhere;
    margin-top: 60px;
    font-size: 0.875rem;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 0.8125rem;
    font-weight: 700;
    font-family: var(--font-family,CircularSp,CircularSp-Arab,CircularSp-Hebr,CircularSp-Cyrl,CircularSp-Grek,CircularSp-Deva,var(--fallback-fonts,sans-serif));
    background-color: transparent;
    border-radius: 500px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    touch-action: manipulation;
    transition-duration: 33ms;
    transition-property: background-color, border-color, color, box-shadow, filter, transform;
    user-select: none;
    vertical-align: middle;
    transform: translate3d(0px, 0px, 0px);
    padding-block: 3px;
    padding-inline: 32px 15px;
    border: 1px solid var(--essential-subdued,#878787);
    color: var(--text-base,#fff);
    min-block-size: 32px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.root-list-info .root-list-links .root-info-lg .root-info-logo{
    left: 12px;
    display: flex;
    position: absolute;
}

